<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
  version="5.0"
  metadata-complete="true">
  <context-param>
    <param-name>DollarExchangeRate</param-name>
    <param-value>5.6</param-value>
  </context-param>

    <!-- Listener Declaration -->
    <listener>
      <listener-class>example.listener.HibernateListener</listener-class>
  </listener>

  <!-- Example Filter Declaration -->
  <!-- <filter>
    <filter-name>HeaderFilter</filter-name>
    <filter-class>example.filter.HeaderFilter</filter-class>
  </filter> -->

  <!-- <filter-mapping>
    <filter-name>HeaderFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>FooterFilter</filter-name>
    <filter-class>example.filter.FooterFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>FooterFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping> -->

  <filter>
    <filter-name>LoggingFilter</filter-name>
    <filter-class>example.filter.LoggingFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>LoggingFilter</filter-name>
    <url-pattern>/search</url-pattern>
  </filter-mapping>


  <servlet>
    <servlet-name>Testing</servlet-name>
    <servlet-class>example.controller.MyServlet</servlet-class>
    <init-param>
      <param-name> DatabaseAddress </param-name>
      <param-value> 163.121.12.25 </param-value>
      </init-param>
      <init-param>
      <param-name> userName </param-name>
      <param-value> iTi </param-value>
      </init-param>
      <init-param>
      <param-name> password </param-name>
      <param-value> iTi </param-value>
      </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Testing</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>second</servlet-name>
    <servlet-class>example.controller.servlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>second</servlet-name>
    <url-pattern>/param</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>example.controller.ImageServlet</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/showImage</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>example.controller.Login</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
</servlet-mapping>

  <servlet>
    <servlet-name>CookieTestServlet</servlet-name>
    <servlet-class>example.controller.CookieTestServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>CookieTestServlet</servlet-name>
    <url-pattern>/test-cookie</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>RetrieveCookieServlet</servlet-name>
    <servlet-class>example.controller.RetrieveCookieServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>RetrieveCookieServlet</servlet-name>
    <url-pattern>/retrieve-cookie</url-pattern>
</servlet-mapping>

  <servlet>
    <servlet-name>search</servlet-name>
    <servlet-class>example.controller.SearchServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>search</servlet-name>
    <url-pattern>/search</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>SQLQueryServlet</servlet-name>
  <servlet-class>example.controller.SQLQueryServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>SQLQueryServlet</servlet-name>
  <url-pattern>/sql</url-pattern>
</servlet-mapping>

</web-app>